{% extends "pages/base.html" %}
{% block title %}Actualizar{% endblock %}
{% load static %}
{% block content %}
<div class="form-container">
    <div>
        <h1>¡Hola {{person.perfil.name}} aqui puedes actualizar tu contraseña</h1>
    </div>
    {% if message %}
        <p style="color: red;">{{message}}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!---etiqueta include que añade el formulario actulizar contraseña--->
        {% include "include/password_updated.html" %}
        <div class="button-container">
            <a href="{% url 'person_data' person.id %}" class="person-link">Perfil</a>
            {% comment "se comenta esta etiqueta para ir a la lista y la etiqueta eliminar" %}
                <a href="{% url 'lists_person' %}" class="btn btn-update">ir a la lista</a>
                <a href="{% url 'delete_person' person.id %}" class="btn btn-delete">Eliminar</a>
            {% endcomment %}
            <button type="submit">Actualizar</button>
        </div>
    </form> 
</div>
{% endblock %}

