{% extends "pages/base.html" %}
{% load static %}
{% block content %}
    <!---formulario contraseña--->
    <table>
        {{form.non_field_errors}}
        <tr>
            <th><label for="password_id">Contraseña:</label></th>
            {{form.password.errors}}
            <td>{{ form.password }}</td>   
        </tr>
        <tr>
            <th><label for="password_confirm_id">Confirmar contraseña:</label></th>
            {{form.password_confirm.errors}}
            <td>{{ form.password_confirm }}</td>
        </tr>
    </table>
{% endblock %}

